/*Banner Doe*/
.btn-menu-ativo {
    background-color: #fff;
    color: #DD2E44 !important;
}
.banner-doe {
    background: url(/img/misc/banner-doe.jpg) center no-repeat;
    background-size: cover;
    height: 297px;
    width: 100%;
}
.quote-doe {
    max-width: 380px;
    padding: 70px 0px 30px;
    margin: 0 auto;
}
.quote-doe p {
    color: #fff;
    font-style: italic;
    text-align: center;
    font-size: 2.4rem;
    line-height: 30px;
    padding-bottom: 30px;
}
.quote-doe cite {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    float: right;
}
.como-ajudar {
    background-color: #3C5487;
}
.doe1 {
    height: 600px;
}
/* Fotos doe */
.foto1-doe img  {
    position: relative;
    bottom: 40px;
    border-radius: 10px;
}
.foto2-doe img {
    float: right;
    position: relative;
    bottom: 35px;
    border-radius: 10px;
}
/* Texto doe */
.txt-doe1 {
    padding: 20px 0px 160px;
}
.txt-doe1 p {
    color: #000;
    font-size: 2.0rem;
    max-width: 500px;
    padding-top: 30px;
    line-height: 30px;
}
.txt-doe1 h2 {
    text-align: right;
}
.txt-doe1 h2::after{
    width: 490px;
    position: relative;
    right: 30px;
}
.txt-doe2 h2 {
    color: #fff;
    padding-top: 20px;
    text-align: right;
}
.txt-doe2 p {
    color: #fff;
    font-size: 2.0rem;
    max-width: 500px;
    padding-top: 30px;
    line-height: 30px;
}
.txt-doe2 h2::after {
    background-color: #FFF;
    position: relative;
    right: 20px;
    width: 480px;

}
/* Formas de ajudar */
.formas {
    padding: 70px 0;
    background-color: #3C5487;
}
.formas p {
    font-size: 1.8rem;
    line-height: 25px;
    color: #F0D215;
    text-align: center;
    padding-top: 15px;
}
.formas ul li {
    font-size: 1.8rem;
    line-height: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #F0D215;
    text-align: center;
}
.formas h2,h3 {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.formas h2::after {
    background-color:#FFF;
}
.icones-doe {
    width: 170px;
    height: 170px;
    margin: 20px auto;
}

/* Frase Doe */
.frase {
    background-color: #5C8B4A;
    padding: 60px 0;
}
.frase-voluntario {
    margin: 0 auto;
}
.frase-voluntario  {
    color: #fff;
    font-style: italic;
    text-align: center;
    line-height: 25px;
}
.frase-voluntario p {
    font-size: 2.2rem;
    padding-bottom: 15px;
}
.autor {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;
}



