/*Estilos Gerais*/
html{
    font-size: 62.5%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
    font-size: 1.4rem;
}
img {
    display: block;
    max-width: 100%;
}
a {
    font-size: 1.4rem;
}
.espaço {
    padding-bottom: 20px;
}
.introduçao {
    background: url("../img/misc/girassol.png") no-repeat center;
    background-size: cover;
    height: 630px;
    width: 100%;
    padding-top: 120px;
}
.introduçao h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3.6rem;
    line-height: 55px;
    font-weight: bold;
    color: #fff
}
.introduçao blockquote {
    color: #fff;
    text-align: center;
    font-style: italic;
    font-size: 1.4rem;
}
.introduçao blockquote p {
    padding: 5px;
    font-size: 2.0rem;
    margin: 20px auto;
}
.introduçao blockquote cite {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
}
.menu-principal .menu-ativo  {
    color: #FFF;
}
/*Subtítulo*/
.subtitulo {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.4rem;
    color:#3C5487;
}
.subtitulo::after {
    content: " ";
    height: 3px;
    background-color: #3C5487;
    width: 400px;
    margin: 10px  auto;
    display: block;
}
/*Header*/

.header-index {
    position: absolute;
    background: transparent;
    width: 100%;
    padding: 10px 5px;
    z-index: 1;
}
.header {
    position: relative;
    background: #3C5487;
    width: 100%;
    padding: 10px 5px;
    z-index: 1;
}
.menu-principal {
    text-align: right;
}
.menu-principal ul li {
    display: inline-block;
    margin-right: 15px;
    margin-top: 25px;
    transition: 0.3s ease-in-out;
}
.menu-principal ul li a {
    color: #F0D215;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
}
.menu-principal ul li:hover {
    transform: scale(1.2);
    color: #FFF;
}
.menu-principal ul li:not(:last-child) {
    padding: 10px 5px;
}
.btn-menu {
    padding: 20px;
    background-color: #DD2E44;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    transition: ease-in-out 0.3s;
}
.menu-principal ul li a.btn-menu {
    color: #fff;
    transition: 0.5s;
}
.btn-menu:hover {
    background-color:#fff;
}
.menu-principal ul li a.btn-menu:hover {
    color: #DD2E44;
}
.center {
    display: inline-block;
}
.center a i{
    transform: scale(2.0)
}
  
/* Objetivo */
.aluno-banner {
    position: relative;
    max-width: 480px;
    height: 630px;
    bottom: 47px;
    border-radius: 10px;
}
.objetivo h2 {
    text-align: left;
    padding-top: 90px;
    padding-bottom: 10px;
}
.objetivo h2::after {
    width: 480px;
}

.txt-objetivo p {
    font-size: 1.8rem;
    max-width: 340px;
    color: #000;
}
/* Btn */
.btn {
    background-color: #fff;
    padding: 20px 60px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #3C5487;
    border: 2px solid #3C5487;
    outline: none;
    transition: ease-in-out 0.3s;
}
.btn:hover {
    color: #FFF;
    background-color: #3C5487;
    border: 2px solid #3C5487;
    border-radius: 5px;
}
/*Depoimentos*/
.depoimentos {
    background-color: #3C5487;
    margin-top:-94px;
    padding-bottom: 30px;
} 
.depoimentos blockquote {
    font-style: italic;
    text-align: center;
    max-width: 380px;
    margin: 0 auto;
    padding-bottom: 50px;;
}
.depoimentos h2, p {
    color: #fff;
}
.depoimentos p {
    padding-top: 25px;
    font-size: 2.0rem;
    line-height: 25px;
}
.depoimentos h2::after {
    content: " ";
    height: 3px;
    background-color: #fff;
    width: 400px;
    margin: 10px  auto;
    display: block;
}
.quote-depoimentos cite {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    margin-top: 15px;
    float: right;
    padding-bottom: 20px;
    color: #fff;
}
/*Call to action*/
.call {
    margin-top: 30px;
}
.cta {
    text-align: center;
    height: 120px;
    background-color: #3C5487;
}
.cta p {
    font-style: italic;
    font-size: 2.0rem;
    color: #fff;
    padding-bottom: 45px;
}
.cta-btn {
    background-color: #DD2E44;
    padding: 20px 60px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    outline: none;
    transition: ease-in-out 0.3s;
}
.cta-btn:hover {
    color: #DD2E44;
    background-color: #FFF;
    border-radius: 5px;
}
/*Notícias*/
.noticias {
    background-color: #fff;
}
.noticias {
    padding: 60px 0 40px;
}
.noticias h2{
    color: #3C5487;
}
.noticias p {
    color: #000;
    padding-top: 10px;
    text-align: center;
}
.noticias img {
    margin-top: 30px;
    border: 2px solid #3C5487;
}
.noticias h2::after {
    background-color: #3C5487;
}
/*Footer*/
.footer-dados {
    padding: 40px 0;
    background-color: #3C5487;
}
.footer-dados h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
    color: #F9E14B;
}
.footer-dados h2::after {
    content: " ";
    height: 3px;
    background-color: #F9E14B;
    width: 150px;
    display: block;
    margin: 10px 0;
}
.footer-dados li {
    line-height: 30px;
    font-size: 1.6rem;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer-dados p {
    color: #fff;
    line-height: 25px;
}
.redes li {
    display: inline-block;
}
.redes li a img{
    padding: 10px;
    border: 4px solid #F9E14B;
    border-radius: 10px;
    width: 58px;
    height: 58px;
}
.redes li a img:hover {
    border-color: #fff;
}
.footer i {
    color: #f0d215;
}
.copy {
    background-color: #000;
    color: #f0d215;
    height: 100%;
    text-align: right;
}
.copy p {
    font-size: 1.4rem;
    text-decoration: none;
}
.copy i, a{
    color: #f0d215;
}

/* Javascript */

.js [data-slide] {
    position: relative;
}
.js [data-slide] > * {
    position: absolute;
    top: 0px;
    opacity: 0;
}
.js [data-slide] > .active {
    position: relative;
    opacity: 1;
    transition: opacity 500ms;
    z-index: 1;
}

/* Slide Nav Estilos */

.js [data-slide-nav] {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.js [data-slide-nav] > button {
    display: inline-block;
    width: 12px;
    margin: 4px;
    height: 12px;
    border: none;
    padding: 0px;
    border-radius: 6px;
    background: #FFF;
    text-indent: -100px;
    overflow: hidden;
}
.js [data-slide-nav] > button.active {
    background: #f0d215;
}
/* Animações */

.js [data-anime] {
    opacity: 0;
}
.js .fadeInDown {
    transform: translate3d(0,-20px,0);
}
.js .anime {
    opacity: 1;
    transform: none;
    transition: transform .8s, opacity .8s;
}

